.container {
  box-shadow: 6px 7px 20px 6px #dbdbdba1;
  transition: all 0.8s ease-in-out;
  transform: skewY(-6deg);
  z-index: 10;
}
nav {
  /* background: linear-gradient(150deg,  #03505f70 70%, #08813b7c 94%); */
}
.form-container {
  /* -webkit-transform-origin: 0; */
  /* transform-origin: 0; */
  margin-top: 15vh;
  height: 50vh;
  overflow: hidden;
  background: linear-gradient(
    150deg,
    rgba(22, 22, 24, 0.801) 25%,
    #221318c9 70%,
    #2c1010d8 84%
  );
}
.form-container form {
  width: 350px;
  padding: 20px;
}

form input,
form button {
  margin: 25px 0px;
}
form button {
  margin-top: 0px;
}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: skewY(6deg);
}
.result-container {
  transition: all 0.6s ease;
  transform: skewY(-2deg);
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #dbdbdb79;
}
.result-container span {
  color: rgb(138, 195, 226);
}
.result-container span::before {
}
h4 {
  transform: skewY(8deg);
  padding: 10px;
  color: rgb(245, 207, 138);
}
@media only screen and (max-width: 750px) {
  .container {
    box-shadow: -11px -8px 20px 6px #dbdbdba1;
  }
}
